<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title></title>
  <style>
    html,
    body {
      font-family: roboto, sans-serif;
      line-height: 1.5;
    }

    .container {
      width: 90vw;
      margin: 30px auto;
      max-width: 550px;
      padding: 50px;
      border: 1px solid #373737;
      border-radius: 8px;
    }

    .unsubscribe {
      margin-top: 15px;
      display: block;
      text-align: center;
      font-size: 10px;
    }

    .unsubscribe a {
      cursor: pointer;
    }
  </style>
  <!--[if !mso]><!-- -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet">
  <!--<![endif]-->
</head>

<body>
  <div class="container">
    <p>Hi {{ firstName }}!</p>

    <p>Since you aren’t so familiar with us and haven’t been back since creating your account, {{ referrer }} asked that
      we give you a little glimpse into the world of Gala Games! Here is a little excerpt from one of our planning
      meetings.</p>
    <p>-----------</p>
    <p><strong>Event:</strong> Gala Games Planning Meeting</p>
    <p><strong>Location</strong>: Main Planning Gallery - Gala Games Headquarters</p>
    <p><strong>CHAIRMAN:</strong> We just got a message from {{ referrer }} that {{ firstName }} hasn’t played Town Star
      yet. We have already allocated them 100 GALA for their playing bonus, but they need to trade for at least three
      days in order to receive it. Any ideas?</p>
    <p><strong>MARKETING:</strong> I have had some reports that when some people first start playing, they get a bit
      intimidated by the blank canvas of possibility. Do you think {{ firstName }} is encountering that problem?</p>
    <p><strong>COMMUNITY:</strong> No, I don’t think so...they are tougher than that. I don’t see them getting scared by
      a game.</p>
    <p><strong>MARKETING:</strong> True, maybe {{ firstName }} is just too busy. All they need to do is log into their
      account at <a href="https://app.gala.games">app.gala.games</a>, open Town Star, watch the farmer move wheat to
      their silo, click on the depot, and then sell it...it's incredibly simple.</p>
    <p><strong>COMMUNITY:</strong> That only takes a couple minutes, right?</p>
    <p><strong>CHAIRMAN:</strong> Yes, no more than five minutes per day, tops. However, if they keep going they might
      be able to win some NFTs they can use in-game too. If they talk to {{ referrer }} they can find out where they put
      their farm so they can trade with one another. {{ referrer }} will get 100 GALA too if they play, as well as a point
      in the daily distribution. They can even look at <a
        href="https://www.youtube.com/playlist?list=PLQJI6pR8lFhsoFQ2OMrr-uxFx00tyQitV">our Youtube to see some of the
        community-created content</a> on how to get started.</p>
    <p><strong>MARKETING:</strong> If they don’t want to farm, they can always invite other friends using their own
      invite link ({{ referralLink }})...this would get them even MORE GALA or even potentially BTC if both of them
      convert to Gala Gold.</p>
    <p><strong>CHAIRMAN:</strong> Excellent, then we are resolved. Let’s get a message crafted by the wordsmiths and get
      it sent out to them right away. All in favor, say yes!</p>
    <p>-----------</p>
    <p>Just a little glimpse into the world of Gala Games. Our dream is that we can decentralize some of the <strong>$5
        BILLION</strong> spent yearly on game advertising to those who deserve it most - the players! Join us, and we
      can create a decentralized gaming revolution!</p>
    <p>Own it!</p>
    <p>The Gala Games Team&nbsp;</p>
    <p align="center"> <a href="https://twitter.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/TW.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://facebook.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/FB.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://instagram.com/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/IG.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://www.youtube.com/c/GalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/YT.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="http://galagames.chat" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/DI.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; <a href="https://t.me/GoGalaGames" target="_blank"><img
          src="https://gala.games/wp-content/uploads/2020/09/TE.png" width="40" height="40" alt=""
          padding="10px"></a>&nbsp; </p>
    <p align="center">See us online at <a href="https://gala.games/" target="_blank">www.gala.games</a>!</p>
    <a href="{{ unsubscribeLink }}" class="unsubscribe">Unsubscribe</a>
  </div>
</body>

</html>